
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(71, 187, 187);
}

.header-content h1 {
    margin: 0;
}

.search-container {
    margin-bottom: 10px;
}

.search-form {
    display: inline-flex;
    align-items: center;
    
}

.search-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 200px; 
}

.search-form button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    background-color: #ddd;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #ccc;
}

nav{
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

/*#cadastro{
    margin-top: 70px;
    margin-left: 200px;
    border-radius: 400px;
    color: white;
}*/

.novidades{
   
    border: 1px solid black;
    width: auto;
    height: 300px;
   
}

#produto1{
    display: flex;
}

#babador{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#produto2{
    display: flex;
    
}

#mordedor{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#produto3{
    display: flex;
}

#comida{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#produto4{
    display: flex;
}

#sono{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

footer {
    display: flex;
    border: 1px solid black;
    width: auto;
    height: 200px;
}

footer > ul{
    padding-top: 50px;
    padding-left: 250px;
}

